  body {
    font-family: Arial;
    font-size: 120%;
  }

  .timer {
    position: absolute;
    top: -10px;
    right: 5px;
  }
  
  a {
    color: #2b89d6;
    text-decoration: none;
    transition: color 0.1s;
  }
  
  a:hover {
    color: #d62b7b;
  }
  
  button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 100%;
    background-color: #d62b7b;
    border-radius: 10px;
    padding: 2px 10px;
    color: white;
    border: 0;
    transition: background-color 0.1s;
  }
  
  button:hover {
    background-color: #2b89d6;
  }
  
  .quizholder {
    margin-top: 300px;
    text-align: center;
  }

  .choices {
    margin: 0 auto;
    width: 400px;
    text-align: center;
  }

  .choices button {
    display: block;
  }

  .hide {
    display: none;
  }
  
  .feedback {
    font-style: italic;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: rgb(209, 125, 181);
    border-top: 2px solid #000000;
  }
  
  ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
  }
  
  li {
    padding: 5px;
    list-style: decimal inside none;
  }
  
  .scores {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  

  
